{% load static %}

<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    {% block title %}
        <title>НДА Деловая медицинская компания</title>
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'custom/css/custom.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
</head>
{% include 'core/header.html' %}
<body class="d-flex flex-column h-100">
{% block content %}
{% endblock %}
</body>
{% include 'core/footer.html' %}
</html>
