{% load static %}


<div class="row align-items-center" style="min-height: 200px; background: linear-gradient(to right, {{brand.banner_color}}, #ffffff);">
    <div class="col-4 col-md-2 d-flex justify-content-center">
        {% if not brand.logo %}
            <img src="{% get_media_prefix %}logo-header.png" style="border-radius: 10px; height:100px; width:140px;">
        {% else %}
            {# todo: add thumbnail here as well? #}
            <img src="{{ brand.logo.url }}" style="width: 140px; height: 100px; border-radius: 10px">
        {% endif %}
    </div>
    <div class="col-8 col-md-10 text-white text-uppercase">
        <h1 class="m-0 fs-2 fw-bold">{{ brand.name }}</h1>
        <h4 class="m-0 fs-5">{{ brand.description }}</h4>
    </div>
</div>