<nav aria-label="breadcrumb" class="px-5 mt-5">
    <ol class="breadcrumb">
        <li class="breadcrumb-item fs-4"><a href="{% url 'home' %}">ГЛАВНАЯ</a></li>
        {% if category.brand %}
            <li class="breadcrumb-item fs-4">
                <a href="{% url 'brand' brand_slug=category.brand.slug %}">
                    {{ category.brand.name.upper }}
                </a>
            </li>
    {% endif %}
    {% if not breadcrumbs %}
        <li class="breadcrumb-item active fs-4" aria-current="page">{{ category.name.upper }}</li>
    {% else %}
        {% for breadcrumb in breadcrumbs %}
            <li class="breadcrumb-item fs-4">
                <a href="{% url 'category' category_slug=breadcrumb.slug %}">
                    {{ breadcrumb.name.upper }}
                </a>
            </li>
        {% endfor %}
        <li class="breadcrumb-item active fs-4" aria-current="page">{{ category.name.upper }}</li>
    {% endif %}
    </ol>
</nav>

