{% extends 'base.html' %}

{% block content %}
<body>
<div>
  <ul>
    <li>Каталог по производителям</li>
          {% for category in brand_categories %}
	<div>
        <p><a href="{% url 'category' category_id=category.id %}">{{ category.name }}</a></p>
    </div>
	{% endfor %}
    <li>Каталог по категориям</li>
          {% for category in categories %}
	<div>
        <p><a href="{% url 'category' category_id=category.id %}">{{ category.name }}</a></p>
    </div>
	{% endfor %}
	</ul>
</div>
</body>

{% endblock %}      