{% extends 'base.html' %}
{%  block title %}<title>{{ product.name }}</title>{% endblock %}
{% block content %}
<body>
<div>
    {% if brand %}
      <p>Brand: {{ brand.name }}</p>
    {% else %}
      <p>No Brand</p>
    {% endif %}
    <p>Name: {{ category.name }}</p>
    <p>Description: {{ category.description }}</p>
    {% if parent %}
      <p>
          Parent: <a href="{% url 'category' category_id=parent.id%}">{{ parent.name }}</a>
      </p>
    {% else %}
      <p>No parent</p>
    {% endif %}
      <p>Children:</p>
      <ul>
      {% for category in children %}
          <li>{{ forloop.counter }}: <a href="{% url 'category' category_id=category.id%}">{{ category.name }}</a></li>
      {% empty %}
          <li>No children</li>
      {% endfor %}
      </ul>
    {% if products %}
        <p>Products:</p>
        <ul>
        {% for product in products %}
            <li>{{ forloop.counter }}: <a href="{% url 'offer' brand_id=product.brand_id product_id=product.id%}">{{ product.name }}</a></li>
      {% empty %}
          <li>No products</li>
        {% endfor %}
        </ul>
    {% endif %}
</div>
</body>
{% endblock %}
