{% extends 'core/base.html' %}
{% load cache %}
{% load static %}
{% block title %}<title>{{ category.name }}</title>{% endblock %}
{% block content %}

{% include 'catalog/components/banner.html' %}

{% include 'catalog/components/breadcrumbs.html' %}

{% cache 600 children_categories category.id %}
    <div class="d-flex flex-row flex-wrap row-cols-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-2 row-cols-xxl-2 mt-4" style="padding-left: 2rem; padding-right: 2rem">
        {% for category in category.children.all %}
            {% if category.is_final %}
                <div class="col">
                    <a class="text-decoration-none" href="{% url 'offer' brand_slug=category.brand.slug category_slug=category.slug %}" style="color: inherit">
                        <div class="card border-dark rounded-2 mx-3 my-3">
                            <div class="d-flex flex-row flex-wrap align-items-center">
                                <div class="col-xxl-3 col-xl-5 col-sm-12 col-12 text-sm-center text-center">
                                    {% if not category.logo %}
                                        <img src="{% get_media_prefix %}default.jpg">
                                    {% else %}
                                        <img src="{{ category.logo.url }}">
                                    {% endif %}
                                </div>
                                <div class="col-xxl-9 col-xl-7 col-sm-12 col-12 text-height-media">
                                    <div class="card-body text-xxl-start text-sm-center text-center">
                                        <h5 class="card-text text-uppercase text-wrap">{{ category.name }}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% else %}
                <div class="col">
                    <a class="text-decoration-none" href="{% url 'category' category_slug=category.slug %}" style="color: inherit">
                        <div class="card border-dark rounded-2 mx-3 my-3">
                            <div class="d-flex flex-row flex-wrap align-items-center">
                                <div class="col-xxl-3 col-xl-5 col-sm-12 col-12 text-sm-center text-center">
                                    {% if not category.logo %}
                                        <img src="{% get_media_prefix %}default.jpg">
                                    {% else %}
                                        <img src="{{ category.logo.url }}">
                                    {% endif %}
                                </div>
                                <div class="col-xxl-9 col-xl-7 col-sm-12 col-12 text-height-media">
                                    <div class="card-body text-xxl-start text-sm-center text-center">
                                        <h5 class="card-text text-uppercase text-wrap">{{ category.name }}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>

{% endcache %}

{% endblock %}

