{% extends 'core/base.html' %}
{% load static %}
{% block title %}<title>{{ category.name }}</title>{% endblock %}
{% block content %}

{% include 'catalog/components/banner.html' %}

{% include 'catalog/components/breadcrumbs.html' %}

<div class="row">
    <div class="row row-cols-2">
        <div id="carouselOffer" class="col-sm-5 carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for image in images %}
                    <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %} text-center">
                        <img src="{{ image }}" height="500" width="500" alt="...">
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselOffer" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselOffer" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="col-sm-7" style="border: solid">
            <div>
                <h1>{{ category.name }}</h1>
                <p>{{ category.description }}</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="d-flex flex-row flex-wrap row-cols-1">
        <div class="col" style="border: solid">
            {% for offer in offers %}
                {{ offer.name }}
                {{ offer.description}}
                <form action="{% url 'cart_add' offer_id=offer.pk %}" method='post'>
                    {{ cart_product_form.quantity }}
                    {% csrf_token %}
                    <button type='submit'>Add to cart</button>
                </form>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
