{% extends 'base.html' %}
{% block title %}<title>{{ unit.name }}</title>{% endblock %}
{% block content %}
<body>
<div>
    <p>Name: {{ unit.name }}</p>
    <p>ID: {{ unit.id }}</p>
    <p>Description: {{ unit.description }}</p>
    {% if parent %}
      <p>Parent: <a href="{% url 'unit' unit_slug=parent.slug %}">{{ parent.name }}</a></p>
    {% else %}
      <p>No parent</p>
    {% endif %}
        <ul>
        {% for sub_unit in sub_units %}
            <li>{{ forloop.counter }}: <a href="{% url 'unit' unit_slug=sub_unit.slug %}">{{ sub_unit.name }}</a></li>
        {% empty %}
            <li>No sub_unit </li>
        {% endfor %}
      </ul>
    {% if categories %}
        {% for category in categories %}
            {% if category.is_final %}
                <li>{{ forloop.counter }}: <a href="{% url 'offer' brand_slug=category.brand.slug category_slug=category.slug %}">{{ category.name }}</a></li>
            {% else %}
                <li>{{ forloop.counter }}: <a href="{% url 'category' category_slug=category.slug %}">{{ category.name }}</a></li>
            {% endif %}
            <li>{{ forloop.counter }}: <a href="{% url 'category' category_slug=category.slug %}">{{ category.name }}</a></li>
        {% endfor %}
    {% endif %}
</div>
</body>
{% endblock %}
